/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background: url('design/background.jpg') repeat 0 0;
	color: #fff;
}
.background {
	margin-top:50px;
	background-color:rgba(171, 157, 131, .85);
	border-radius: 8px;
	padding:10px;
}
.masthead {
	margin-top: 10px;
	width: 100%;
}
.jumbotron {
	margin: 0 auto;
	text-align: center;
}
.navbar-inner {
	margin: 0 auto;
	width: 520px;
}
#top-title h3 {
	text-align: center;
}
h2 {
	color: #976300;
}